<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

<head>
  <!-- Vuetify -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
</head>

<body>
  <div id="app">
    <v-app id="inspire">
      <v-card>
        <v-card-title class="indigo white--text headline">
          User Directory
        </v-card-title>
        <v-layout justify-space-between pa-3>
          <v-flex xs5>
            <v-treeview :active.sync="active" :items="items" :load-children="fetchUsers" :open.sync="open" activatable
              active-class="primary--text" class="grey lighten-5" open-on-click transition>
              <template v-slot:prepend="{ item, active }">
                <v-icon v-if="!item.children" :color="active ? 'primary' : ''">
                  mdi-account
                </v-icon>
              </template>
            </v-treeview>
            <v-treeview v-for="(item, index) in matchedDst" :load-children="fetchUsers" :open.sync="open" activatable
              active-class="primary--text" class="grey lighten-5" open-on-click transition>
              <template v-slot:prepend="{ item, active }">
                <v-icon v-if="!item.children" :color="active ? 'primary' : ''">
                  mdi-account
                </v-icon>
              </template>
            </v-treeview>
          </v-flex>

          <v-flex d-flex text-xs-center>
            <v-scroll-y-transition mode="out-in">
              <div v-if="!selected" class="title grey--text text--lighten-1 font-weight-light"
                style="align-self: center;">
                Select a User
              </div>
              <v-card v-else :key="selected.id" class="pt-4 mx-auto" flat max-width="400">
                <v-card-text>
                  <v-avatar v-if="avatar" size="88">
                    <v-img :src="`https://avataaars.io/${avatar}`" class="mb-4"></v-img>
                  </v-avatar>
                  <h3 class="headline mb-2">
                    {{ selected.name }}
                  </h3>
                  <div class="blue--text mb-2">{{ selected.email }}</div>
                  <div class="blue--text subheading font-weight-bold">{{ selected.username }}</div>
                </v-card-text>
                <v-divider></v-divider>
                <v-layout tag="v-card-text" text-xs-left wrap>
                  <v-flex tag="strong" xs5 text-xs-right mr-3 mb-2>Company:</v-flex>
                  <v-flex>{{ selected.company.name }}</v-flex>
                  <v-flex tag="strong" xs5 text-xs-right mr-3 mb-2>Website:</v-flex>
                  <v-flex>
                    <a :href="`//${selected.website}`" target="_blank">{{ selected.website }}</a>
                  </v-flex>
                  <v-flex tag="strong" xs5 text-xs-right mr-3 mb-2>Phone:</v-flex>
                  <v-flex>{{ selected.phone }}</v-flex>
                </v-layout>
              </v-card>
            </v-scroll-y-transition>
          </v-flex>
        </v-layout>
      </v-card>
    </v-app>
    <pre>{{ $data }}</pre>
  </div>

  <script>
    const avatars = [
      '?accessoriesType=Blank&avatarStyle=Circle&clotheColor=PastelGreen&clotheType=ShirtScoopNeck&eyeType=Wink&eyebrowType=UnibrowNatural&facialHairColor=Black&facialHairType=MoustacheMagnum&hairColor=Platinum&mouthType=Concerned&skinColor=Tanned&topType=Turban',
      '?accessoriesType=Sunglasses&avatarStyle=Circle&clotheColor=Gray02&clotheType=ShirtScoopNeck&eyeType=EyeRoll&eyebrowType=RaisedExcited&facialHairColor=Red&facialHairType=BeardMagestic&hairColor=Red&hatColor=White&mouthType=Twinkle&skinColor=DarkBrown&topType=LongHairBun',
      '?accessoriesType=Prescription02&avatarStyle=Circle&clotheColor=Black&clotheType=ShirtVNeck&eyeType=Surprised&eyebrowType=Angry&facialHairColor=Blonde&facialHairType=Blank&hairColor=Blonde&hatColor=PastelOrange&mouthType=Smile&skinColor=Black&topType=LongHairNotTooLong',
      '?accessoriesType=Round&avatarStyle=Circle&clotheColor=PastelOrange&clotheType=Overall&eyeType=Close&eyebrowType=AngryNatural&facialHairColor=Blonde&facialHairType=Blank&graphicType=Pizza&hairColor=Black&hatColor=PastelBlue&mouthType=Serious&skinColor=Light&topType=LongHairBigHair',
      '?accessoriesType=Kurt&avatarStyle=Circle&clotheColor=Gray01&clotheType=BlazerShirt&eyeType=Surprised&eyebrowType=Default&facialHairColor=Red&facialHairType=Blank&graphicType=Selena&hairColor=Red&hatColor=Blue02&mouthType=Twinkle&skinColor=Pale&topType=LongHairCurly'
    ]

    const pause = ms => new Promise(resolve => setTimeout(resolve, ms))

    new Vue({
      el: '#app',
      data: () => ({
        active: [],
        avatar: null,
        open: [],
        users: [],
        // data制御
        dstList: ['ASI', 'ASB'],
        checkedDst: '',
        checkedCountry: '',
        // Vuetify
        dialog: false,
        dialog2: false,
        dialog3: false,
        showCountry: false,
        showCity: false,
        // data
        list: [],
        countryList: [],
        url: ''
      }),

      created: function () {
        axios.get('../modal/data/map.csv').then(function (response) {
          // 取得完了したらlistリストに代入
          var tmpArray = response.data.split("\n");
          var csvArray = [];
          for (var i = 0; i < tmpArray.length; i++) {
            csvArray[i] = tmpArray[i].split(",");
          }
          this.list = csvArray
        }.bind(this)).catch(function (e) {
          console.error(e)
        })
        axios.get('../modal/data/country.csv').then(function (response) {
          // 取得完了したらlistリストに代入
          var country_csv_Array = response.data.split("\r\n");
          var country_name_Array = [];
          for (var i = 0; i < country_csv_Array.length; i++) {
            country_name_Array[i] = country_csv_Array[i].split(",");
          }
          this.countryList = country_name_Array
        }.bind(this)).catch(function (e) {
          console.error(e)
        })

        if (this.$vuetify.breakpoint.name == 'md' || this.$vuetify.breakpoint.name == 'lg' || this.$vuetify.breakpoint.name == 'xl') {
          this.url = 'https://tour.his-j.com/ct/search/02A_10/'
        } else {
          this.url = 'https://tour.his-j.com/ct/sp/search/02A_10/'
        }
      },

      computed: {
        items() {
          return [
            {
              name: 'Users',
              children: this.users
            }
          ]
        },
        selected() {
          if (!this.active.length) return undefined

          const id = this.active[0]

          return this.users.find(user => user.id === id)
        },
        matchedDst: function () {
          return this.countryList.filter(function (val) {
            // val[1]に方面コードが入る
            return val[1] === this.checkedDst;
          }, this)
        },
        matchedCountry: function () {
          return this.list.filter(function (val) {
            // val[6]マップコード + val[3]国コードの組み合わせ
            return val[6] + '-' + val[3] === this.checkedCountry;
          }, this)
        }
      },

      watch: {
        selected: 'randomAvatar',
        checkedDst: function () {
          this.showAllDst = false
          this.showCountry = true
        },
        checkedCountry: function () {
          this.showCountry = false
          this.showCity = true
        }
      },

      methods: {
        async fetchUsers(item) {
          // Remove in 6 months and say
          // you've made optimizations! :)
          await pause(1500)

          return fetch('https://jsonplaceholder.typicode.com/users')
            .then(res => res.json())
            .then(json => (item.children.push(...json)))
            .catch(err => console.warn(err))
        },
        randomAvatar() {
          this.avatar = avatars[Math.floor(Math.random() * avatars.length)]
        },
        closeModal: function () {
          // defaultの状態に戻したい
          this.checkedDst = '',
            this.checkedCountry = '',
            this.showAllDst = true
          this.showCountry = false
          this.showCity = false
        }
      }
    })
  </script>
</body>
